*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: roboto;
}

/*----------------------------------MENU----------------------------------*/

nav {
    width: 50%;
}

ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
}

a {
    text-decoration: none;
    display: block;
    color: rgb(255, 255, 255);
    font-size: 18.2061px;
    transition: ease-in-out 0.3s;
}

.logo-nome{
    font-size: 35px;
}

.logo-nome span{
    color: rgba(255, 0, 0, 0.582);
}

a:hover {
 color: rgb(0, 255, 221);
}

img {
    max-width: 100%;
    display: block;
}

.logo {
    padding: 15px 0;
}

.barra {
    width: 100%;
    background: rgba(196, 196, 196, 0.11);
    backdrop-filter: blur(10px);
    position: fixed;
    top: 0;
    z-index: 1;
    border-bottom: solid 1px rgba(255, 255, 255, 0.452);
}

.barra-conteiner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.centralizador {
    max-width: 1000px;
    margin: 0 auto;
}

/*----------------------------------HEADER----------------------------------*/

#inicio {
    display: flex;
    align-items: center;
    background-image: url(Imagens/data-science-data-science-portfolios.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}

.altura-ajuste{
    width: 100%;
}

.ajustador {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}

.apresentacao {
    max-width: 741px;
    color:white;
}

.descricao {
    font-size: 50px;
    grid-area: descricao;
}

.meu-nome {
    font-size: 30px;;
}

.linkedin {
    width: 479px;
    height: 85px;
    background-color: #57889e5e;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 62px;
}

.linkedin a {
    width: 100%;
    padding: 25px 0;
}

.link {
    font-size:25px;
    width:50%;
    text-align: center;
    padding: 12px 0 ;
    transition: ease-in-out 0.3s;
}

.link:hover {
    letter-spacing: 5px;
    color: white;
}

.desenho {
    max-width: 300px;
    grid-area: desenho;
}

@keyframes desenhoAnimacao {
    from {
        top:-15px;
    }
    to {
        top: 25px;
    }
}

.desenho2 {
    position: relative;
    animation: desenhoAnimacao 2.1s infinite alternate-reverse linear;
    width: 100%;
    height: 50vh;
}

.close-menu {
    display: none;
}

.meu-nome::after{
    content: '|';
    margin-left: 5px;
    opacity: 1;
    animation: pisca .7s infinite;
}

@keyframes pisca {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/*----------------------------------TELA MOBILE----------------------------------*/

@media (max-width:1200px) {
    
    #inicio{
        background-image: url(Imagens/data-science-data-science-portfolios.png);
        background-size: cover;
        background-repeat: no-repeat;
    }

    .ajustador {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        padding-bottom: 50px;
    }

    .desenho {
        padding: 100px 0;
    }

    .apresentacao {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }

    .linkedin {
        width: 479px;
        margin-top: 15px;
    }

    .esquerda {
        margin-left: 15px;
    }

    .direita {
        margin-right: 15px;
    }

}

@media (max-width:950px) {
    .desenho {
        padding: 25px 0;
    }

    .altura-ajuste{
        display: flex;
        justify-content: center;
    }
    .organizador {
        max-width: 300px;
        display: grid;
        grid-template-columns: 300px;
        grid-template-areas:  
        "desenho"
        "descricao";
        line-height: 35px;
    }

    #inicio {
        display: flex;
        justify-content: center;
    }

    .desenho {
        display: flex;
        justify-content: center;
    }

    .descricao {
        font-size: 20px;
    }

    .meu-nome {
        font-size: 30px;
    }

    .esquerda, .direita {
        margin: 0;
    }

    .logo {
        margin-top: 25px;
        display: flex;
        justify-content: center;
        padding: 0;
    }
    .barra{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .menu-centro{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .centralizador{
        margin: 0;
    }
    .barra-conteiner {
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        gap: 50px;
    }
    .barra-conteiner .logo{
        width: 100%
    }

    .direita ul {
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .direita ul a {
        font-size: 35px;
    }

/*----------------------------------MENU MOBILE----------------------------------*/
    .barra {
        display: block;
        position: fixed;
        top: -100vh;
        transition: ease 0.3s;
    }
    
    .close-menu-label::after {
        content:'≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: #792e33;
        color: white;
        font-size: 3rem;
        line-height:3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        border-radius: 5px;
        cursor: pointer;
    }
    /* ✕ */
    .close-menu:checked~.barra {
        top: 0;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '✕';
    }

    .barra .barra-conteiner ul li a{
        font-size: 25px;
    }

    .barra {
        background: rgba(0, 0, 0, 0.527);
    }
}

/*----------------------------------SOBRE MIM----------------------------------*/

#sobre-mim {
    width: 100%;
    background-color: rgb(40, 40, 59);
}

.ajustador-2 {
    padding: 144px 0;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 67px;
    max-width: 1064px;
    margin: 0 auto;
}

h2 {
    font-size: 45px;
    color: white;
}

.circulo {
    position: absolute;
}

.avatar {
    width: 323px;
    height: 368px;
    position: relative;
    cursor: pointer;
    transition: ease 1s;
}

.minha-foto{
    width: 100%;
    height: 40vh;
}

.avatar:hover {
    transform: scale(1.05);
}

@keyframes html {
    0% {
        bottom: 0;
        left: 250px;
    }
    100% {
        bottom: 0;
        left: 50px;
    }
}

@keyframes css {
    0% {
        bottom: 0;
        left: 50px;
    }
    100% {
        bottom: 0;
        left: 250px;
    }
}

.html {
    bottom: 0;
    left: 0;
    animation: html 3s infinite linear alternate-reverse ;
}

.js {
    bottom: 0;
    left: 150px;
}

.css {
    bottom: 0;
    left: 300px;
    animation: css 3s infinite linear alternate-reverse;
}

.sobre-mim{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.sobre-mim p {
    font-size: 30px;
    max-width: 609.25px;
    color: white;
}

@media (max-width:1200px) {
    .ajustador-2 {
        justify-content: center;
        text-align: center;
    }

    .avatar {
        margin-right: 60px;
    }

    h2 {
        font-size: 30px;
    }

    .ajustador-2 p {
        font-size: 15px;
    }
    .sobre-mim p {
        text-indent: 0;
    }
}

@media(max-width:950px){

    .circulo {
        display: none;
    }
    .ajustador-2 {
        max-width: 350px;
        padding: 70px 30px;
    }

    .avatar {
        margin-right: 0;
    }

}
    
/*----------------------------------HABILIDADES----------------------------------*/

#habilidades {
    background-color: rgb(38, 38, 49);
}

.habilidades-pd {
    padding-top: 93px;
}

.habilidades-pd h2 { 
    text-align: center;
    padding-bottom: 70px;
}

.skills-descricao {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:50px;
    padding-bottom: 70px;
}

.conteiner-skills {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 37px;
    max-width: 55%;
}

.skill-box {
    max-height: 136px;
    width: 106px;
    background-color: #C4C4C4;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-repeat: no-repeat;
    background-position: center;
    transition: ease 0.3s;
}

.skill-box:hover {
    background-color: white;
    transform: scale(1.05);
}

.conteiner-descricao {
    color: white;
    font-family: 'Quando', serif;
    font-size: 20px;
    max-width: 40%;
}

@media (max-width:1200px) {

    .conteiner-descricao {
        height: 260px;
    }

    #habilidades {
        display: flex;
        justify-content: center;
    }

    .skills-descricao {
        display: flex;
        flex-direction: column-reverse;
        /* width: 535px; */
        margin: 0 auto;
        gap:50px;
        padding-bottom: 70px;
        align-items: center;
    }

    .skills-descricao p {
        text-align: center;
    }

}
@media (max-width:950px) {
    .conteiner-skills {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        gap: 37px;
        max-width: 300px;
    }

    .conteiner-descricao {
        max-width: 300px;
    }

}

.skill-box .icones-habilidades {
    transition: ease-in-out 0.3s;
    width: 100%;
    height: 14vh;
    border-radius: 10px;
}

.skill-box:hover .icones-habilidades {
    opacity: 80%;
}

.skill1{
    background-image: url(../img/html2.svg);
}

.skill2 {
    background-image: url(../img/css2.svg);
}

.skill3 {
    background-image: url(../img/js2.svg);
}

#fundo {
    fill: red;
}

/*----------------------------------PROJETOS----------------------------------*/

#projetos {
    background-color: rgb(28, 28, 39);
}

.projetos {
    padding-top: 93px;
}

.projetos h2, .projetos a {
    text-align: center;
}

.projetos h2 {
    padding-bottom: 70px;
}

button {
    padding: 10px 100px;
    border-radius: 25px;
    cursor: pointer;
    color: white;
    background-color: #493737;
    border: none;
    transition: ease-in-out 0.3s;
}

button:hover {
    background-color: #a16c60;
}

.github-link {
    margin: 0 auto;
    padding-top: 35px;
    padding-bottom: 93px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    gap: 35px;
}

.projetos a {
    display: inline;
}

.pro {
    background-image: url(Imagens/capa-blog-coding-iniciante.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 195px;
    width: 310px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
    transition: ease-in-out 0.3s;
}

.pro div p {
    font-family: 'Fira Sans', sans-serif;
    font-size: 20px;
    color: #C4C4C4;
}

.pro:hover {
    letter-spacing: 5px;
}

.pro div {
    background-color: #8654c09d;
    width: 1000px;
    text-align: center;
    padding: 5% 0;
    transform: rotate(-50deg);
}

.escondido {
    opacity: 0;
    display: none;
    transition: 1000ms;
}

.projetos-itens {
    display: flex;
    flex-wrap: wrap;
    gap: 29.5px;
    width: 100%;
    justify-content: center;
}

@media (max-width:1200px) {
  .projetos{
      text-align: center;
      display: flex;
      flex-direction: column;
  }

  #projetos {
      display: flex;
      justify-content: center;
  }

  .projetos-itens {
      flex-direction: column;
  }

}
@media (max-width:950px) {
    .pro {
        max-width: 300px;
    }

}

/*----------------------------------FOOTER----------------------------------*/

.footer{
    width: 100%;
    background-color:#292626;
}

.footer-conteiner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.contato-creditos {
    color: white;
    font-size: 20px;
    padding: 10px 0;
}

.icons {
    display: flex;
    gap: 25px;
}

@media (max-width:1200px) {
    .contato-creditos{
        text-align: center;
    }
    
    .footer-conteiner {
        display: flex;
        flex-direction: column;
        padding-bottom: 10px;
    }
   
}

.links1, .links2 {
    height: 52px;
    width: 52px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    transition: 0.7s;
}

.links:hover {
    transform: rotate(-360deg);
}

.links1 {
    background-image: url(../img/githubff2.svg);
}

.links2 {
    background-image: url(../img/linkedinff2.svg);
}

.transparente {
    transition: ease-in-out 0.3s;
}

.transparente:hover {
    filter: contrast(80%);
}