*{
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html{
    scroll-behavior: smooth;
}

body{
    background-color: #16162b;
}

h1, h2, h3, a, p{
    color: white;
}

/*----------------------------------DECORAÇÔES----------------------------------*/

@keyframes rotacao{
    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }
}

/*----------------------------------MENU----------------------------------*/

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-bottom: solid 1px white;
    width: 100%;
    top: 0;
    position: fixed;
    backdrop-filter: blur(10px);
    background-color: #26263f7e;
    padding: 20px 0;
    z-index: 1;
}

.menu-logo{
    font-size: 25px;
    transition: ease-in-out .5s;
}

.menu-logo:hover{
    scale: 1.1;
}

#menu-lista{
    display: flex;
    gap: 30px;
}

#menu-lista li{
    transition: ease-in-out .5s;
}

#menu-lista li:hover{
    scale: 1.1;
}

#menu-mobile{
    display: none;
    font-size: 30px;
    color: gold;
}

/*----------------------------------INICIO----------------------------------*/

#anchor{
    display: flex;
    flex-wrap: wrap-reverse;
    align-items: center;
    justify-content: center;
    padding: 150px 0;
    gap: 100px;
}

.inicio-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
}

.inicio-container h1{
    font-size: 50px;
}

.inicio-botao-linkedin{
    background-color: darkcyan;
    transition: ease-in-out .5s;
    padding: 15px 18px;
    border-radius: 10px;
    font-size: 20px;
    border: solid 3px black;
}

.inicio-botao-linkedin:hover{
    scale: 1.05;
    background-color: rgba(0, 139, 139, 0.795);
    box-shadow: 10px 10px #10101f;
}

.inicio-container2{
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: solid 5px black;
    transition: ease-in-out .5s;
    background-image: url(../img/vecteezy_beautiful-wood-background-with-text-space_.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 20px 0;
}

.inicio-container2:hover{
    scale: 1.02;
    box-shadow: 10px 10px #10101f;
}

#inicio-disco{
    width: 70%;
    transition: ease-in-out .5s;
}

#inicio-agulha{
    position: absolute;
    width: 30%;
    top: 20px;
    right: 20px;
    transform-origin: right center;
    transition: transform 0.5s ease;
    transform: rotate(-20deg); /* posição inicial, afastada do disco */
    transition: ease-in-out .5s;
}

#inicio-agulha:hover{
    scale: 1.05;
}

.inicio-agulha-tocando{
    transform: rotate(0deg) !important; /* posição de "tocando" */
}

.rotacao{
    animation: rotacao 15s linear infinite;
}

#inicio-disco:hover{
    scale: 1.05;
    cursor: pointer;
}

/*----------------------------------SOBRE----------------------------------*/

#anchor2{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 150px 0;
}

#anchor2 h2{
    font-size: 35px;
}

.sobre-container{
    display: flex;
    align-items: center;
    margin: 120px 50px;
    text-align: justify;
    gap: 50px;
}

.sobre-texto{
    padding: 30px;
    background-color: #facb40;
    transition: ease-in-out .5s;
}

.sobre-texto p{
    font-size: 25px;
    color: #10101f;
}

.sobre-texto:hover{
    scale: 1.02;
    box-shadow: 10px 10px #10101f;
}

.sobre-container img{
    width: 50%;
    border-radius: 8px;
    border: solid 5px gold;
    padding: 5px;
    background-color: darkcyan;
    transition: ease-in-out .5s;
}

.sobre-container img:hover{
    scale: 1.05;
    box-shadow: 10px 10px #10101f;
    cursor: pointer;
}

/*----------------------------------HABILIDADES----------------------------------*/

#anchor3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 150px 0;
}

#anchor3 h2{
    font-size: 35px;
}

.habilidades-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    gap: 30px;
}

.habilidades-container img{
    width: 18%;
    transition: ease-in-out .5s;
    background-color: white;
    border: solid 5px black;
    border-radius: 10px;
    padding: 20px;
}

.habilidades-container img:hover{
    scale: 1.05;
    cursor: pointer;
    box-shadow: 10px 10px #10101f;
}

/*----------------------------------PROJETOS----------------------------------*/

#anchor4{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 150px 0;
}

#anchor4 h2{
    font-size: 35px;
}

.projetos-container{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 100px 0;
    gap: 30px;
}

.projetos-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 25%;
    height: 500px;
    padding: 0 0 30px 0;
    background-color: white;
    border-radius: 5px;
    gap: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: ease-in-out .5s;
}

.projetos-card:hover{
    scale: 1.02;
    transform: translateY(-20px);
    box-shadow: 10px 10px #10101f;
}

.projetos-card img{
    width: 100%;
    height: 45%;
}

.projetos-card h3, .projetos-card p, .projetos-card a{
    color: black;
}

.projetos-card h3{
    font-size: 30px
}

.projetos-card p{
    text-align: justify;
    margin: 0 20px;
}

.projetos-card a{
    color: #10101f;
    font-weight: bold;
    transition: ease-in-out .5s
}

.projetos-card a:hover{
    scale: 1.2;
}

/*----------------------------------CONTATO----------------------------------*/

#anchor5{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 0 0 50px 0;
}

#anchor5 h2{
    font-size: 35px;
}

.contato-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 0 0 0;
}

.contato-container p{
    font-size: 25px;
}

.contato-container2{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 50px 30px;
    gap: 30px;
}

.contato-container2 img{
    width: 100px;
    transition: ease-in-out .5s;
}

.contato-container2 img:hover{
    scale: 1.05;
}

/*----------------------------------RESPONSIVIDADE----------------------------------*/

@media (max-width: 1024px){
    .projetos-card{
        width: 35%;
    }
}

@media (max-width: 785px) {
    .menu{
        justify-content: space-between;
        padding: 15px 0;
    }

    .menu-logo{
        margin: 0 0 0 30px;
    }
    
    #menu-lista{
        display: none;
        flex-direction: column;
        align-items: center;
        position: absolute;
        top: 70px;
        left: 0;
        width: 100%;
        padding: 20px 0;
        background-color: #10101f;
        border-top: solid 1px white;
        border-bottom: solid 1px white;
    }

    #menu-mobile{
        display: block;
        margin: 0 30px 0 0;
    }

    #menu-lista.show{
        display: flex;
    }

    #inicio-disco{
        width: 70%;
    }

    .sobre-container{
        flex-wrap: wrap-reverse;
        justify-content: center;
    }

    .habilidades-container img{
        width: 25%;
    }

    .projetos-card{
        width: 45%;
    }
}

@media (max-width: 430px) {
    .inicio-container h1{
        font-size: 50px;
        text-align: center;
    }

    .inicio-container2{
        width: 85%;
    }

    #inicio-disco{
        width: 65%;
    }

    .sobre-container{
        margin: 120px 25px;
    }

    .sobre-texto p{
        font-size: 20px;
    }

    .sobre-container img{
        width: 90%;
    }

    .habilidades-container img{
        width: 40%;
    }

    .projetos-card{
        width: 70%;
        padding: 0 0 80px 0;
    }

    .contato-container p{
        font-size: 16px;
        text-align: center;
    }

    .contato-container2 img{
        width: 40px;
    }
}

@media (max-width:390px){
}